body{
	margin: 0; 
	overflow-x: hidden;
}

#navu{
	height: 80px;
	padding-top: 12px;
	background-color: #FFEB3B;
}

#navu a{
	color: black;
	font-size: 40px !important;
	font-family: 'Assistant',sans-serif;
	font-weight: 600;
}

.main{
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	padding-left: 20px;
}

.create{
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex-direction: column;
}

.butt{
	box-shadow: 0;
	outline: none;
	border: 0;
	background-color: #FBC02D;
	height: 50px;
	min-width: 130px;
	font-family: 'Assistant',sans-serif;
	font-size: 18px;
	font-weight: 600;
	margin-top: 7px;
}

.butt:hover {
	background-color: white;
	color: #FBC02D;
	cursor: pointer;
	border: 2px solid #FBC02D;
}

.create {
	margin-top: 100px;
}

.todoinput{
	height: 40px;
	width: 420px;
	padding: 10px;
	font-family: 'Assistant',sans-serif;
	font-size: 18px;
	color:black; 
}
.todoinput:focus{
	outline: none;
}

.todo{
	height: 130px;
	margin-top: 20px;
	width: 750px;
	box-shadow:0 4px 8px rgba(0, 0, 0, 0.6);
	padding: 10px;
	display: flex;
	justify-content: flex-start;
	align-content: center;
	flex-direction: column;
}

.title{
	font-family: 'Assistant',sans-serif;
	font-size: 30px;
	font-weight: 600;
}

.endline{
	margin-top: 20px;
	display: flex;
	justify-content: flex-start;
	align-content: center;
}

.checkbox{
	height: 30px;
	width: 30px;
	margin-left:10px; 
	border: 2px solid black;
	cursor: pointer;
}

.authkey{
	padding-top: 10px;
	margin-left: 400px;
	font-family: 'Assistant',sans-serif;
	font-size: 18px;
}

.check{
	background-color: #b0bec5;
}

.delete{
	padding-top: 50px;
}